body {
  width: 100%;

  img#bg {
    z-index: -1;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
  }
}

h1 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

#wrapper {
  width: 800px;
  margin: 100px auto 0;
  color: #fff;
}
#workspace {

  position: relative;
  overflow: hidden;

  #knit {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 130px;
    // background-image: url('../images/knit.png');
    // background-size:cover;
    // -moz-background-size:cover;
  }
}

.reversed {
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#message-success, #message-fail {
  display: none;
}
